In [1]:
import pandas as pd

First we read in the data from the text file. To do so, we use the DataFrame.read_clipboard() command. You open the text file, select all and copy, then run the command as shown below.

In [2]:
ac = pd.read_clipboard()
ac.head()

          ac   =  pd.read_clipboard()
0  ac.head() NaN                  NaN

We then rename the columns to make them easier to reference. We first list them to see what the names are, then we use the command that follows after this in the next cell to rename them.

In [3]:
ac.columns

Index(['ac', '=', 'pd.read_clipboard()'], dtype='object')

In [ ]:
ac.columns = ['Account Angaza ID', 'Amount', 'Unit Age', 'Country', 'Date', 'Days From Last Payment',
              'Days to Cutoff', 'Ending Hours Balance', 'Most Recent Payment Date', 'Next Payment Date',
             'Next Payment Due Date', 'Payment Date', 'Previous Cumulative Paid']
ac.head()